<div class="card bg-dark text-white">
  <img src="https://kontur.ru/Files/Modules/Article/286_l.png?t=1605513123" class="card-img" alt="delivery">
  <div class="card-img-overlay">
    <h2 class="card-title color">О нашей компании</h2>
    <p class="card-text color">Della-express сегодня - одна из мировых лидеров в доставке грузов, посылок и почты.
      Della-express аккредитован в 220 странах, сотрудники компании работают в 365 аэропортах мира,
      в арсенале компании - 650 самолетов для грузоперевозок и 45 000 автомашин для доставки отправлений конечному получателю.</p>
    <h5 class="color">История</h5>
    <p class="card-text color">
      История  Della-express  началась в 1965 году, когда Фредерик У. Смит (основатель и генеральный директор),
      тогда выпускник университета в Йеле, сформулировал революционную систему, которая обеспечит безопасную доставку срочных отправлений -
      например, фармацевтических препаратов, электроники. В 1971 году он создал  компанию,
      ориентированную на доставку first overnight, и в результате навсегда изменил индустрию перевозок.
      На европейский рынок  Della-express  вышла в 1984 году, а в последующие годы - на рынки всех континентов. Сейчас  Della-express  обслуживает сотни стран
      и городов, обеспечивая  международную и межконтинентальную экспресс-доставку.
      До 2020 года были открыты представительства более чем в 220 странах и регионах планеты.</p>
  </div>
</div>
