<div class="col mt-3">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Свяжитесь с нами</h5>
      <p class="card-text">Надежная и безопасная транспортировка почтовых отправлений, грузов и ценностей по всему миру
        720044 Кыргызстан, г. Бишкек, пр. Ч. Айтматова, 55
        della-express@gmail.com</p>
      <p><strong>+996 312 55 55 55 <br> +996 999 99 99 99</strong></p>
      <button class="btn-success" (click)="openCheckoutModal()">Оставить заявку</button>
    </div>
  </div>
</div>
<app-modal
  title="Заявка"
  [isOpen]="modalOpen"
  (close)="closeCheckoutModal()"
  >
  <div class="modal-body">
    <h3>Оставить заявку на доставку</h3>
    <input type="email" placeholder="email">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCheckoutModal()">Cancel</button>
    <button class="btn btn-success" (click)="send()">Send</button>
  </div>
</app-modal>
