<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Della-Express</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us" class="nav-link">About company</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a routerLink="/contacts" class="nav-link"  routerLinkActive="active">Contacts</a>
      </li>
    </ul>
  </div>
</nav>


