<div class="card mt-3">
  <div class="card-header">
    Выбирай службу доставки Della-Express
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Воспользуйтесь всеми преимуществами и функциями, которые сэкономят Ваше время.
        Della-Express - это единое решение по управлению грузами. </p>
    </blockquote>
  </div>
</div>
<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body bg-info">
        <h5 class="card-title">Оформление и доставка грузов - на профессиональном уровне</h5>
        <p class="card-text">Мы сделали все для того, чтобы Вы могли быстро и легко оформить все онлайн.
          Получите информацию о тарифах, создайте накладные на грузы, вызовите курьера, отслеживайте грузы - и многое другое!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body bg-info">
        <h5 class="card-title">Консолидация грузов</h5>
        <p class="card-text">Собираем догрузы на рефрежераторы и тентованные авто. Водители имеют большой стаж и лояльность.
          Оповещаем о местонахождении вашего груза каждое утро. Подача транспорта с момента заявки от 30 минут</p>
      </div>
    </div>
  </div>
</div>
<div class="card text-center mt-5">
  <div class="card-header">
    Последние новости
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Мы создали новый Della-Express +</strong></h5>
    <p class="card-text">Мы сделали все для того, чтобы Вы могли быстро и легко оформить все онлайн.</p>
    <button class="btn btn-primary" (click)="check()">Посмотреть</button>
  </div>
  <div class="card-footer text-muted">
    1 месяц назад
  </div>
</div>
